#!/usr/bin/env bash

# `.exports` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`

# === Compiler flags ===

# XCode path
export CFLAGS="-I$(xcrun --show-sdk-path)/usr/include"

# Libs
export LIBRARY_PATH="$LIBRARY_PATH:$(brew --prefix)/lib"

# This is required because `openssl` is keg-only in `brew`,
# see: `brew info openssl` for more information.
PATH="$(brew --prefix openssl@1.1)/bin:$PATH"
LDFLAGS="-L$(brew --prefix openssl@1.1)/lib"
CPPFLAGS="-I $(brew --prefix openssl@1.1)/include"
PKG_CONFIG_PATH="$(brew --prefix openssl@1.1)/lib/pkgconfig"

# === Path modifications ===

# These lines should be the first ones

# GPG agent:
PATH="/opt/homebrew/opt/gpg2/bin:$PATH"

# Now `python` points to `python3` from `brew`:
PATH="/opt/homebrew/opt/python/libexec/bin:$PATH"

# Adds `pipsi` and `pipx` binary files:
PATH="$HOME/.local/bin:$PATH"

# Cargo:
PATH="$HOME/.cargo/bin:$PATH"

# Adds `poetry` binary, should be added to the end:
PATH="$PATH:$HOME/.poetry/bin"

# postgres utilities like `psql`:
PATH="/opt/homebrew/opt/postgresql/bin:$PATH"
LDFLAGS="-L/opt/homebrew/opt/postgresql/lib $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/postgresql/include $CPPFLAGS"
PKG_CONFIG_PATH="/opt/homebrew/opt/postgresql/lib/pkgconfig:$PKG_CONFIG_PATH"

# sqlite:
PATH="/opt/homebrew/opt/sqlite/bin:$PATH"
LDFLAGS="-L/opt/homebrew/opt/sqlite/lib $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/sqlite/include $CPPFLAGS"
PKG_CONFIG_PATH="/opt/homebrew/opt/sqlite/lib/pkgconfig:$PKG_CONFIG_PATH"

# npm:
PATH="/usr/local/share/npm/bin:$PATH"

# imagemagick:
PATH="/opt/homebrew/opt/imagemagick/bin:$PATH"
LDFLAGS="-L/opt/homebrew/opt/imagemagick/lib  $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/imagemagick/include $CPPFLAGS"
PKG_CONFIG_PATH="/opt/homebrew/opt/imagemagick/lib/pkgconfig:$PKG_CONFIG_PATH"

# curl:
PATH="/opt/homebrew/opt/curl/bin:$PATH"
LDFLAGS="-L/opt/homebrew/opt/curl/lib  $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/curl/include $CPPFLAGS"
PKG_CONFIG_PATH="/opt/homebrew/opt/curl/lib/pkgconfig:$PKG_CONFIG_PATH"

# ruby:
PATH="/opt/homebrew/opt/ruby/bin:$PATH"
LDFLAGS="-L/opt/homebrew/opt/ruby/lib  $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/ruby/include $CPPFLAGS"
PKG_CONFIG_PATH="/opt/homebrew/opt/ruby/lib/pkgconfig:$PKG_CONFIG_PATH"

# krb5:
PATH="/opt/homebrew/opt/krb5/bin:$PATH"
LDFLAGS="-L/opt/homebrew/opt/krb5/lib $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/krb5/include $CPPFLAGS"
PKG_CONFIG_PATH="/opt/homebrew/opt/krb5/lib/pkgconfig:$PKG_CONFIG_PATH"

# flutter:
PATH="$HOME/.flutter_bin/bin:$PATH"

# openldap:
PATH="/opt/homebrew/opt/openldap/bin:$PATH"
PATH="/opt/homebrew/opt/openldap/sbin:$PATH"
LDFLAGS="-L/opt/homebrew/opt/openldap/lib $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/openldap/include $CPPFLAGS"

# zlib:
LDFLAGS="-L/opt/homebrew/opt/zlib/lib $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/zlib/include $CPPFLAGS"
PKG_CONFIG_PATH="/opt/homebrew/opt/zlib/lib/pkgconfig:$PKG_CONFIG_PATH"

# bzip2:
PATH="/opt/homebrew/opt/bzip2/bin:$PATH"
PATH="/opt/homebrew/opt/bzip2/sbin:$PATH"
LDFLAGS="-L/opt/homebrew/opt/bzip2/lib $LDFLAGS"
CPPFLAGS="-I/opt/homebrew/opt/bzip2/include $CPPFLAGS"

# Haskell
PATH="$PATH:$HOME/.ghcup/bin"

export PATH
export LDFLAGS
export CPPFLAGS
export PKG_CONFIG_PATH

# go:
export GOPATH="$HOME/Go/"
# === General ===

# Editor:
export EDITOR=$(which nano)

# GPG:
export GPG_TTY=$(tty)
eval "$(gpg-agent --daemon --allow-preset-passphrase > /dev/null 2>&1)"

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# Homebrew:
export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects

# Ruby build
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"

# Pagers:
# This affects every invocation of `less`.
#
#   -i   case-insensitive search unless search string contains uppercase letters
#   -R   color
#   -F   exit if there is less than one page of content
#   -X   keep content on screen after exit
#   -M   show more info at the bottom prompt line
#   -x4  tabs are 4 instead of 8
export LESS="-iRFXMx4"
export PAGER='bat'
export MANPAGER='bat'


# === Virtualenvs ===

export PIPENV_VENV_IN_PROJECT=true # look for `.venv` dir inside project
export PIPENV_HIDE_EMOJIS=true # no emojis!
export PIPENV_COLORBLIND=true # disables colors, so colorful!
export PIPENV_NOSPIN=true # disables spinner for cleaner logs


# === Version managers ===

# nvm:
export NVM_DIR="$HOME/.nvm"
source "/opt/homebrew/opt/nvm/nvm.sh"

# pyenv:
eval "$(pyenv init --path)"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

# rbenv:
eval "$(rbenv init -)"

# tldr:
source ~/.tldr.complete

# === Histories ===

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="$HOME/.node_history"
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'

# === Android ===

export ANDROID_HOME=/Users/$USER/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools

# === starship ===

eval "$(starship init zsh)"

# === GitHub ===

eval "$(gh completion --shell zsh)"


# === Brew ===

if type brew &>/dev/null; then
    FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH

    autoload -Uz compinit
    compinit
fi

# === gnutls ===

export GUILE_TLS_CERTIFICATE_DIRECTORY=/opt/homebrew/etc/gnutls/

# Stack

autoload -U +X compinit && compinit
autoload -U +X bashcompinit && bashcompinit
eval "$(stack --bash-completion-script stack)"

